@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Work Sans';    
}

html {
    scroll-behavior: smooth;
}

.header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo__link {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;     
}

.nav__list {
    display: flex;
    list-style: none;    
}

.nav__list__items {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.nav__list__items:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;    
}

.home {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../assets/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;    
}

.banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: 100px auto auto auto;
    text-align: center;
    border-radius: 40px;
}

.banner__content__img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 20%;
}

.name {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.subtitle {
    font-size: 15px;
    font-weight: normal;
}

.socialmedia__icons {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.socialmedia__icons:hover {
    background-color: #1CB698;
}

.aboutme {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.aboutme__container {
    max-width: 1100px;
    margin: auto;
}

.h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;    
}

.p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.span {
    color: #1CB698;
    font-weight: bold;
}

.aboutme__info {
    display: flex;    
}

.aboutme__info__container {
    width: 50%;
}

.h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.ul {
    list-style: none;
}

.li {
    margin: 12px 0;
}

.strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;    
}

.span-2 {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.interests__container {
    display: flex;
    flex-wrap: wrap;
}

.interest {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;    
}

.interest:hover {
    background-color: #1CB698;
}

.interest__icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.download-button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.download-button:hover .overlay {
    width: 100%;    
}

.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 40px 20px 50px 20px;
}

.skills-container {
    max-width: 1100px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 50%;
    padding: 0 20px;    
}

.skill__name {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.progress-bar {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;    
}

.progress {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.percent {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;    
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;    
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;    
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .vue {
    width: 0%;
    animation: 2s vue forwards;    
}

@keyframes vue {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .git {
    width: 0%;
    animation: 2s git forwards;    
}

@keyframes git {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .sap {
    width: 0%;
    animation: 2s sap forwards;    
}

@keyframes sap {
    0%{width: 0%;}
    100%{width: 45%;}
}

.skills .skill .node {
    width: 0%;
    animation: 2s node forwards;    
}

@keyframes node {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .docker {
    width: 0%;
    animation: 2s docker forwards;    
}

@keyframes docker {
    0%{width: 0%;}
    100%{width: 45%;}
}

.skills .skill .postman {
    width: 0%;
    animation: 2s postman forwards;    
}

@keyframes postman {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .english {
    width: 0%;
    animation: 2s english forwards;    
}

@keyframes english {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunication {
    width: 0%;
    animation: 2s comunication forwards;    
}

@keyframes comunication {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .teamwork {
    width: 0%;
    animation: 2s teamwork forwards;    
}

@keyframes teamwork {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .creativity {
    width: 0%;
    animation: 2s creativity forwards;    
}

@keyframes creativity {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .dedication {
    width: 0%;
    animation: 2s dedication forwards;    
}

@keyframes dedication {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .project {
    width: 0%;
    animation: 2s project forwards;    
}

@keyframes project {
    0%{width: 0%;}
    100%{width: 95%;}
}

.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 40px 20px 50px 20px;
}

.curriculum-container {
    max-width: 1100px;
    margin: auto;
}

.col {
    width: 49%;
    padding: 0 20px;
}

.left {
    border-right: 2px solid #252A2E;
}

.right {
    border-left: 2px solid #252A2E;
}

.item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
}

.h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.entity {
    margin-bottom: 5px;
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.date {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.p2 {
    line-height: 24px;
    text-align: justify;
}

.left2 {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.right2 {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 40px 20px 50px 20px;
}

.portfolio-container {
    max-width: 1100px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.img {
    width: 100%;
    display: block;
}

.overlay2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.h3-2 {
    margin-bottom: 20px;
    transition: 1s;
}

.overlay2:hover {
    opacity: 1;
}

.overlay2:hover .h3-2 {
    margin-bottom: 0px;
}

.contact {
    background-image: url(../assets/img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contact-container {
    max-width: 1100px;
    margin: auto;
}

.row-2 {
    display: flex;
}

.col-2 {
    width: 50%;
    padding: 10px;
    position: relative;
}

.input, .text {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;    
}

.img-2 {
    width: 100%;
}

.info {
    position: absolute;
    top: 50%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul-2 {
    padding: 0;
    list-style: none;
}

.li-2 {
    margin-bottom: 20px;
}

.li-2 i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

.footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;    
}

.socialmedia-2 {
    margin-bottom: 20px;    
}

.up {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;    
}

/* RESPONSIVE */

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;

    }
    .nav__list{
        display: block !important;
    }
    .nav__li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .aboutme__info{
        display: block;        
    }
    .aboutme__info__container{
        width: fit-content;
    }
    .skills .row{
        display: block;        
    }
    .skills .row .column{
        width: 100%;
    }
    .skill .progress-bar{
        width: 100%;
    }
    .curriculum .row{
        display: block;
    }
    .curriculum .row .col{
        width: 95%;
    }
    .curriculum .row .right{
        margin-left: 20px;
    }
    .portfolio .gallery{
        display: block;
        width: 100%;        
    }
    .gallery .project{
        max-width: 100%;
    }
    .project .img{
        width: 100%;        
    }
    .contact .row-2{
        display: block;
    }
    .contact .row-2 .col-2{
        width: 100%;
    }
}
